<div id="<%= dom_id position %>">
  <p>
    <strong>Position:</strong>
    <%= position.position_id %>
  </p>

  <p>
    <strong>Position name:</strong>
    <%= position.position_name %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= position.salary %>
  </p>

</div>
